h1, h2 {
    text-align: center;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: cornflowerblue;
}

body {
    margin: 60px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 300px;
    border-radius: 300px;
}

ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: square;
    list-style-position: inside;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    max-width: 800;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

ul#nav {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul#nav li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    padding: 10px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    background: yellow;
}

.column {
    float: left;
    width: 33.33%;
}